.btn {
  border: 1px solid #00f;
  color: #fff;
  background: #00f;
  padding: 1em;
  font-size: 1em;
}

.formulario .campos {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1em;
  padding: .5em 0;
}

.formulario .campos .etiqueta {
  width: 100%;
  text-align: left;
}

.formulario .campos .campo {
  width: 100%;
}

.formulario .campos label {
  width: 100%;
  padding: .3em .2em;
  display: inline-block;
}

.formulario .campos input, .formulario .campos select, .formulario .campos textarea {
  padding: .5em;
  width: 100%;
  display: inline-block;
  border: 1px solid #666;
  font-family: inherit;
  font-size: inherit;
}

.formulario .campos textarea {
  resize: vertical;
}

.formulario .campos input:focus,
.formulario .campos select:focus,
.formulario .campos textarea:focus {
  outline: none;
  box-shadow: 0 0 2px 2px rgba(0, 0, 255, 0.6);
}

.formulario .campos.checkboxes label {
  width: auto;
}

.formulario .campos.checkboxes input {
  width: auto;
}

.formulario .campos.radio label {
  width: auto;
}

.formulario .campos.radio input {
  width: auto;
}

@media (min-width: 768px) {
  .formulario .campos {
    flex-direction: row;
  }
  .formulario .campos .etiqueta {
    width: 30%;
    text-align: right;
  }
  .formulario .campos .campo {
    width: 70%;
  }
  .formulario .campos.checkboxes {
    padding-left: 30%;
  }
  .formulario .campos.radio {
    padding-left: 30%;
  }
  .formulario .botones {
    padding-left: 30%;
  }
}
