html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
section{
  padding: 3em 0;
  position:relative;
}
.content{
  max-width:1100px;
  padding: 0 1em;
  margin:0 auto;
}
body{
  padding-top:90px;
  overflow-x: hidden;
}
.btn{
  display:inline-block;
  padding:1em;
  border:none;
  background:#001eff;
  color:#fff;
  text-decoration:none;
  border-radius: 30px;
}
img{
  width:100%;
  max-width: 100%;
}

svg#freepik_stories-telecommuting:not(.animated) .animable {
  opacity: 0;
}

svg#freepik_stories-telecommuting.animated #freepik--background-simple--inject-9 {
  animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
  animation-delay: 0s;
}

svg#freepik_stories-telecommuting.animated #freepik--Shadow--inject-9 {
  animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) lightSpeedRight;
  animation-delay: 0s;
}

svg#freepik_stories-telecommuting.animated #freepik--Chair--inject-9 {
  animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
  animation-delay: 0s;
}

svg#freepik_stories-telecommuting.animated #freepik--Character--inject-9 {
  animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
  animation-delay: 0s;
}

svg#freepik_stories-telecommuting.animated #freepik--speech-bubble--inject-9 {
  animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
  animation-delay: 0s;
}

svg#freepik_stories-telecommuting.animated #freepik--Device--inject-9 {
  animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
  animation-delay: 0s;
}

svg#freepik_stories-telecommuting.animated #freepik--Mug--inject-9 {
  animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideRight;
  animation-delay: 0s;
}

svg#freepik_stories-telecommuting.animated #freepik--Desk--inject-9 {
  animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideDown;
  animation-delay: 0s;
}

svg#freepik_stories-telecommuting.animated #freepik--Plant--inject-9 {
  animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideDown;
  animation-delay: 0s;
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes lightSpeedRight {
  from {
    transform: translate3d(50%, 0, 0) skewX(-20deg);
    opacity: 0;
  }

  60% {
    transform: skewX(10deg);
    opacity: 1;
  }

  80% {
    transform: skewX(-2deg);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animator-hidden {
  display: none;
}

section{
  min-height: 100vh;
}
@media (max-width: 768px) {
  section{
    min-height: 0;
    height:100vh;
    max-height: 800px;
  }
}
#intro{
  padding:0;
  min-height: 0;
}
#intro .content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width:72%;
  padding:0 1em;
}
#intro .textos{
  width: 45%;
}
#intro .escritorio{
  width: 55%;
}
#intro .escritorio svg{
  position: relative;
  left:50px;
}
#intro h2{
  font-size: 3.5em;
  color: #7923EA;
}
#intro p{
  margin: 0;
}
@media (max-width: 1200px) {
  #intro .textos {
    width: 50%;
  }
  #intro .escritorio {
    width: 50%;
  }
}
@media (max-width: 1100px) {
  #intro h2 {
    font-size: 2em;
  }
}
@media(max-width: 992px){
  #intro{
    min-height: 0;
    /*max-height: 600px;*/
    padding:0;
  }
  #intro .content{
    padding:0 2em;
    max-width:98%;
  }

}

@media (max-width: 768px) {
  #intro{
    height:auto;
    max-height: 2000em;
  }
  #intro .content{
  flex-direction: column;
    max-width:100%;
  }
  #intro .textos {
    padding-top:2em;
    width: 100%;
  }

  #intro .escritorio {
    width: 100%;
  }
  #intro .escritorio svg{
    left:0;
  }
}

#htmlcss3{
  background: #449ACB;
  color: #fff;
  padding: 6em 0 0;
  display:flex;
  align-items: flex-end;
  min-height: 0;
}
#htmlcss3 .texto{
  position:absolute;
  left: 50%;
  transform: translateX(-87%);
  top:4%;
  width: 40%;
  max-width: 560px;
  z-index: 999;
}
@media (max-width: 1200px) {
  #htmlcss3 .texto{
    top:10%;
    width: 40%;
    max-width: 560px;
  }
}
@media(max-width: 992px) {
  #htmlcss3 {
    padding: 1em 0 0;
    flex-direction: column;
    height: auto;
    max-height: 2000em;
  }
  #htmlcss3 .texto {
    position: relative;
    left: auto;
    transform: none;
    top: auto;
    width: 90%;
    max-width: 100%;
    z-index: 999;
    margin: 0 auto;
  }
  #htmlcss3 .flickity-slider{
  
  }
  #htmlcss3 .cell {
    flex-direction:column;

  }
  #htmlcss3 .laptop{
    order: 2;
  }
  #htmlcss3 .jpg {
    order: 1;
    max-width:200px !important;
  }
}
#carousel_html {
  width: 100%;
}
#carousel_html .laptop{
  max-width: 778px;
}
#carousel_html .jpg {
  max-width: 420px;
}
@media (max-width:1200px) {
  #carousel_html .laptop{
    width:50%;
  }
  #carousel_html .jpg {
    width:30%;
  }
}
@media (max-width:992px) {
  #carousel_html .laptop {
    width: 100%;
    position: relative;
    top:-100px;
    padding-top: 40px;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 19%, rgba(0, 0, 0, 0) 67%, rgba(0, 0, 0, 0) 100%);
    z-index: 2;
  }

  #carousel_html .jpg {
    width: 50%;
    position: relative;
    top: 20px;
    z-index: 1;
  }

}

#carousel_html .cell{
  display: flex;
  justify-content: center;
  align-items: center;
}
#carousel_html .flickity-page-dots{
  bottom:1em;
}
#carousel_html .flickity-page-dots .dot{
  background: #fff;
}
#carousel_html .flickity-prev-next-button {
  background:transparent;
}
#carousel_html .flickity-prev-next-button .flickity-button-icon {
  display: none;
}
#carousel_html .next {
  background: url(../images/arrow_wht.svg) no-repeat center;
  background-size: 50% auto;
}
#carousel_html .previous {
  background: url(../images/arrow_wht_l.svg) no-repeat center;
  background-size: 50% auto;
}
#carousel_html .flickity-button:disabled{
  opacity: 0;
}




#css3{
  padding:0;
  background: #D86B64 ;
  color: #fff;
  min-height: 0;
}
#css3 .content{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 0;
  max-width: 1600px;
}
#css3 .textos{
  width: 45%;
  order:2;
}
#css3 .imagen{
  width:50%;
  order:1;
  align-self: flex-end;
}

@media(max-width: 992px) {
  #css3 {
    height:auto;
  }
  #css3 .content {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding:0;
  }

  #css3 .textos{
    padding-top:3em;
    order:1;
  }
  #css3 .imagen{
    width:100%;
    order:2;
    align-self: flex-end;
  }
  #css3 .imagen img{
    max-width: 600px;
    margin: 0 auto;
    display: block;
  }

  #css3 .textos {
    width: 90%;
    margin:0 auto;
  }
}

#wireframing {
  background: #6032C2 url(../images/sections/wireframe/wirefarmes.png) no-repeat right bottom;
  background-size: 110% auto;
  color: #fff;
  height:auto;
  max-height: 2000em;
  padding-bottom:100%;
}
#wireframing .content{
  padding: 0 2em;
}
@media (min-width:768px) {
  #wireframing {
    padding-bottom:90%;
    background-size: 100% auto;
  }
}
@media (min-width:992px) {
  #wireframing {
    padding-top:0;
    padding-bottom:0;
    height:auto;
    min-height: 0;
    background-size: 70% auto;
  }
  #wireframing .content {
    display: flex;
    align-content: center;
    align-items: center;
    padding:0 1em;
  }
  #wireframing .textos {
    width: 45%;
    padding-top: 200px;
    padding-bottom: 300px;
  }
}
@media (min-width:1300px) {
  #wireframing {
    background-size: 60% auto;
  }
}


/*@media (max-width:1200px) {*/
  /*#wireframing {*/
    /*background-size: 65% auto;*/
  /*}*/
/*}*/

/*@media(max-width: 992px) {*/
  /*#wireframing {*/
    /*background-position: right bottom;*/
    /*background-size: 70% auto;*/
    /*max-height: 700px;*/
  /*}*/

  /*#wireframing .content {*/
    /*justify-content: flex-start;*/
    /*align-items: flex-start;*/
  /*}*/

  /*#wireframing .textos {*/
    /*width: 90%;*/
  /*}*/
/*}*/
/*@media(max-width: 600px) {*/
  /*#wireframing {*/
    /*background-size: 90% auto;*/
  /*}*/
/*}*/



#diseno {
  background: #CB446C;
  color: #fff;
  display: flex;
  align-items: center;
  height:auto;
  min-height: 0;
}
#diseno .texto {
  display: none;
}
#diseno h3{
  font-size: 1.25em;
}
#diseno .jpg{
  width: 50%;
}
#diseno .cell {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 600px;
}
#diseno .detalles{
  width:40%;
}
#carousel_diseno{
  width:100%;
}

#carousel_diseno .flickity-page-dots {
  bottom: 1em;
}

#carousel_diseno .flickity-page-dots .dot {
  background: #fff;
}

#carousel_diseno .flickity-prev-next-button {
  background: transparent;
}

#carousel_diseno .flickity-prev-next-button .flickity-button-icon {
  display: none;
}

#carousel_diseno .next {
  background: url(../images/arrow_wht.svg) no-repeat center;
  background-size: 50% auto;
}

#carousel_diseno .previous {
  background: url(../images/arrow_wht_l.svg) no-repeat center;
  background-size: 50% auto;
}

#carousel_diseno .flickity-button:disabled {
  opacity: 0;
}

@media(max-width: 992px) {
  #diseno {
    padding: 1em 0 3em;
    flex-direction: column;
    justify-content: center;
    max-height: 2000em;
  }
  #diseno .cell{
    flex-direction: column;
    min-height: 0;
    text-align: center;
  }
  #diseno .texto {
    width: 90%;
    z-index: 999;
    margin: 0 auto;
    display: block;
    padding-top: 3em;
  }
  #diseno .bajada{
    display: none;
  }
  #diseno .detalles{
    width:90%;
  }
  #diseno .jpg {
    width: 60%;
  }
  #diseno h3 {
    font-size: 1.25em;
    position: relative;
    left: auto;
    top: auto;
    padding-bottom:1em;
  }
  #carousel_diseno .flickity-page-dots {
    bottom: -1em;
  }
}




#proyectos{
  background: #FFF384;
  padding: 0;
  min-height: 0;
}
#proyectos #ebro .imagen{
  background-image: url(../images/sections/proyectos/d_ebro.png);
}
#proyectos #et20 .imagen {
  background-image: url(../images/sections/proyectos/d_escuela.png);
}
#proyectos #et20 .imagen {
  background-image: url(../images/sections/proyectos/d_escuela.png);
}
#proyectos #hotel .imagen {
  background-image: url(../images/sections/proyectos/d_hotel.png);
}
#proyectos #recetas .imagen {
  background-image: url(../images/sections/proyectos/d_recetas.png);
}
#proyectos #elotrolado .imagen {
  background-image: url(../images/sections/proyectos/d_elotrolado.png);
}
@media (max-width: 992px) {
  #proyectos #ebro .imagen,
  #proyectos #et20 .imagen,
  #proyectos #et20 .imagen,
  #proyectos #hotel .imagen,
  #proyectos #recetas .imagen,
  #proyectos #elotrolado .imagen {
    width: 90%;
    background-image: none;
    margin:0 auto
  }
}
#proyectos .imagen{
  text-align: center;
  width: 50%;
  background-repeat: repeat-y;
  background-position: center;
  background-size: 100% auto;
}
#proyectos .texto {
  display: none;
}
#proyectos .cell{
  width: 90%;
  display: flex;

}
@media (max-width: 992px) {
  #proyectos .texto {
    display: block;
  }
  #proyectos .bajada {
    display: none;
  }
}

#proyectos h3{
  font-size: 1.625em;
}
#proyectos h4{
  font-size: 1.125em;
}
#proyectos .detalles li{
  margin:0;
}
#proyectos p{
  max-width: 560px;
}
#proyectos .detalles{
  padding:4em 1em;
  align-self: flex-start;
}
#proyectos .jpg{
  width: 50%;
}
#proyectos .d{
  display: inline-block;
}
#proyectos .m{
  display: none;
}
@media (max-width: 992px) {
  #proyectos .d{
    display: none;
  }
  #proyectos .m{
    display: inline-block;
  }
}

#proyectos .cell {
  justify-content: flex-start;
}

@media(max-width: 992px) {
  #proyectos {
    padding: 2em 0 0;
    max-height: 2000em;
    height:auto;
  }
  #proyectos .texto {
    position: relative;
    left: auto;
    transform: none;
    top: auto;
    width: 85%;
    max-width: 450px;
    z-index: 999;
    margin: 0 auto;
  }

  #proyectos .detalles {
    padding: 1em 0 3em;
    margin: 0 auto;
    width: 88%;
    max-width: 450px;
  }
  #proyectos .cell {
    flex-direction: column;
    min-height: 100vh;
  }

  #proyectos .jpg {
    width: 40%;
  }

  #proyectos .jpg img{
    max-width: 320px;
  }

}


#carousel_proyectos .flickity-page-dots {
  bottom: 1em;
}

#carousel_proyectos .flickity-page-dots .dot {
  background: #000;
}

#carousel_proyectos .flickity-prev-next-button {
  background: transparent;
}

#carousel_proyectos .flickity-prev-next-button .flickity-button-icon {
  display: none;
}

#carousel_proyectos .next {
  background: url(../images/arrow.svg) no-repeat center;
  background-size: 50% auto;
  right:0;
}

#carousel_proyectos .previous {
  background: url(../images/arrow_l.svg) no-repeat center;
  background-size: 50% auto;
  left:0;
}

#carousel_proyectos .flickity-button:disabled {
  opacity: 0;
}

