html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
section{
  padding: 3em 0;
  position:relative;
}
.content{
  max-width:1100px;
  padding: 0 1em;
  margin:0 auto;
}
body{
  padding-top:90px;
}
.btn{
  display:inline-block;
  padding:1em;
  border:none;
  background:#001eff;
  color:#fff;
  text-decoration:none;
}
img{
  width:100%;
  max-width: 100%;
}

svg#freepik_stories-telecommuting:not(.animated) .animable {
  opacity: 0;
}

svg#freepik_stories-telecommuting.animated #freepik--background-simple--inject-9 {
  animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
  animation-delay: 0s;
}

svg#freepik_stories-telecommuting.animated #freepik--Shadow--inject-9 {
  animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) lightSpeedRight;
  animation-delay: 0s;
}

svg#freepik_stories-telecommuting.animated #freepik--Chair--inject-9 {
  animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
  animation-delay: 0s;
}

svg#freepik_stories-telecommuting.animated #freepik--Character--inject-9 {
  animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
  animation-delay: 0s;
}

svg#freepik_stories-telecommuting.animated #freepik--speech-bubble--inject-9 {
  animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
  animation-delay: 0s;
}

svg#freepik_stories-telecommuting.animated #freepik--Device--inject-9 {
  animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
  animation-delay: 0s;
}

svg#freepik_stories-telecommuting.animated #freepik--Mug--inject-9 {
  animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideRight;
  animation-delay: 0s;
}

svg#freepik_stories-telecommuting.animated #freepik--Desk--inject-9 {
  animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideDown;
  animation-delay: 0s;
}

svg#freepik_stories-telecommuting.animated #freepik--Plant--inject-9 {
  animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideDown;
  animation-delay: 0s;
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes lightSpeedRight {
  from {
    transform: translate3d(50%, 0, 0) skewX(-20deg);
    opacity: 0;
  }

  60% {
    transform: skewX(10deg);
    opacity: 1;
  }

  80% {
    transform: skewX(-2deg);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animator-hidden {
  display: none;
}

section{
  min-height: 100vh;
}
#intro .content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#intro .textos{
  width: 36%;
}
#intro .escritorio{
  width: 60%;
}
#intro h2{
  font-size: 3.5em;
  color: #7923EA;
}
#intro p{
  margin: 0;
}
@media(max-width: 768px){
  #intro{
    min-height: auto;
  }
  #intro .content{
    flex-direction: column;
  }
  #intro .textos {
    width: 100%;
  }

  #intro .escritorio {
    width: 100%;
  }
}

#htmlcss3{
  background: #449ACB;
  color: #fff;
  padding: 6em 0 0;
}
#htmlcss3 .texto{
  position:absolute;
  left: 50%;
  transform: translateX(-87%);
  top:0;
  width: 40%;
  max-width: 560px;
  z-index: 999;
}
@media(max-width: 768px) {
  #htmlcss3 {
    background: #449ACB;
    color: #fff;
    padding: 1em 0 0;
  }
  #htmlcss3 .texto {
    position: relative;
    left: auto;
    transform: none;
    top: auto;
    width: 90%;
    max-width: auto;
    z-index: 999;
    margin: 0 auto;
  }
  #htmlcss3 .flickity-slider{
  
  }
  #htmlcss3 .cell {
    flex-direction:column;

    min-height: auto;
  }
  #htmlcss3 .laptop{
    order: 2;
  }
  #htmlcss3 .jpg {
    order: 1;
    max-width:200px !important;
  }
}
#carousel_html .laptop{
  max-width: 778px;
}
#carousel_html .jpg {
  max-width: 420px;
}
#carousel_html .flickity-page-dots{
  bottom:2em;
}
#carousel_html .flickity-page-dots .dot{
  background: #fff;
}
#carousel_html .flickity-prev-next-button {
  background:transparent;
}
#carousel_html .flickity-prev-next-button .flickity-button-icon {
  display: none;
}
#carousel_html .next {
  background: url(/images/arrow_wht.svg) no-repeat center;
  background-size: 50% auto;
}
#carousel_html .previous {
  background: url(/images/arrow_wht.svg) no-repeat center;
  background-size: 50% auto;
    transform: rotate(180deg);
}
#carousel_html .flickity-button:disabled{
  opacity: 0;
}




#css3{
  background: #D86B64 url(/images/sections/adaptativo/adaptativo.png) no-repeat left bottom;
  background-size: auto 100%;
  color: #fff;
}
#css3 .content{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 100vh;
}
#css3 .textos{
  width: 45%;
}

#wireframing {
  background: #6032C2 url(/images/sections/wireframe/wirefarmes.png) no-repeat right bottom;
  background-size: auto 100%;
  color: #fff;
}

#wireframing .content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

#wireframing .textos {
  width: 45%;
}





#diseno {
  background: #CB446C;
  color: #fff;
  padding: 6em 0 0;
}

#diseno .texto {
  position: absolute;
  left: 50%;
  top: 30%;
  width: 40%;
  max-width: 560px;
  z-index: 999;
}
#diseno h3{
  font-size: 1.25em;
  position:absolute;
  left:50%;
  top:60%
}
#diseno .jpg{
  width: 50%;
}
#diseno .cell {
  justify-content: flex-start;
}

@media(max-width: 768px) {
  #diseno {
    background: #449ACB;
    color: #fff;
    padding: 1em 0 0;
  }

  #diseno .texto {
    position: relative;
    left: auto;
    transform: none;
    top: auto;
    width: 90%;
    max-width: auto;
    z-index: 999;
    margin: 0 auto;
  }


  #diseno .cell {
    flex-direction: column;

    min-height: auto;
  }

}


#carousel_diseno .flickity-page-dots {
  bottom: 2em;
}

#carousel_diseno .flickity-page-dots .dot {
  background: #fff;
}

#carousel_diseno .flickity-prev-next-button {
  background: transparent;
}

#carousel_diseno .flickity-prev-next-button .flickity-button-icon {
  display: none;
}

#carousel_diseno .next {
  background: url(/images/arrow_wht.svg) no-repeat center;
  background-size: 50% auto;
}

#carousel_diseno .previous {
  background: url(/images/arrow_wht.svg) no-repeat center;
  background-size: 50% auto;
  transform: rotate(180deg);
}

#carousel_diseno .flickity-button:disabled {
  opacity: 0;
}






#proyectos{
  background: #FFF384;
  padding: 0;
}

#proyectos .texto {
  position: absolute;
  left: 50%;
  top: 30%;
  width: 40%;
  max-width: 560px;
  z-index: 999;
}
#proyectos h3{
  font-size: 1.25em;
  position:absolute;
  left:50%;
  top:60%
}
#proyectos .jpg{
  width: 50%;
}
#proyectos .cell {
  justify-content: flex-start;
}

@media(max-width: 768px) {
  #proyectos {
    background: #449ACB;
    color: #fff;
    padding: 1em 0 0;
  }

  #proyectos .texto {
    position: relative;
    left: auto;
    transform: none;
    top: auto;
    width: 90%;
    max-width: auto;
    z-index: 999;
    margin: 0 auto;
  }


  #proyectos .cell {
    flex-direction: column;

    min-height: 0;
  }

}


#carousel_proyectos .flickity-page-dots {
  bottom: 2em;
}

#carousel_proyectos .flickity-page-dots .dot {
  background: #fff;
}

#carousel_proyectos .flickity-prev-next-button {
  background: transparent;
}

#carousel_proyectos .flickity-prev-next-button .flickity-button-icon {
  display: none;
}

#carousel_proyectos .next {
  background: url(/images/arrow_wht.svg) no-repeat center;
  background-size: 50% auto;
}

#carousel_proyectos .previous {
  background: url(/images/arrow_wht.svg) no-repeat center;
  background-size: 50% auto;
  transform: rotate(180deg);
}

#carousel_proyectos .flickity-button:disabled {
  opacity: 0;
}

